certifi==2020.4.5.1
chardet==3.0.4
Click==7.0
colorama==0.4.3
Flask==1.1.2
Flask-WTF==0.14.3
gunicorn==20.0.4
idna==2.9
itsdangerous==1.1.0
Jinja2==2.11.1
MarkupSafe==1.1.1
neo4j-driver==1.7.6
neo4jrestclient==2.1.1
neobolt==1.7.17
neotime==1.7.4
prompt-toolkit==2.0.10
py2neo==4.3.0
Pygments==2.3.1
pytz==2020.1
requests==2.23.0
six==1.14.0
urllib3==1.24.3
wcwidth==0.1.9
Werkzeug==1.0.1
WTForms==2.2.1
